* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 30px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;
}

section{
    display: flex;
    flex: 1 0 300px;
    background-color: #999999;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    width: 50%;
    height: 225px;
}

.nome {
    display: flex;
    padding: 5px;
}
#nome {
    display: flex;
    width: 200px;
}

.idade {
    display: flex;
    padding: 5px;
}
#idade {
    display: flex;
    width: 205px;
}

.profissao {
    display: flex;
    padding: 5px;
    padding-bottom: 10px;
}
#profissao {
    display: flex;
    width: 175px;
}

.resultado {
    display: flex;
    flex: 0 0 50%;
    justify-content: baseline;
    align-items: center;
    background-color: #bbbbbb;
    padding: 10px;
    border: 2px solid black;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 30px;
    border: 2px solid black;
    font-family: Arial, Helvetica, sans-serif;   

}

#enviar {
    padding: 2px;
    border: 2px solid black;
}