* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #bbbbbb;
    padding: 10px;
    font-size: 30px;
    border: 2px solid black;
}